body{ background: #ffc400;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4088db, #6eb927);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4088db, #6eb927); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    }
nav{
    min-height: 100px;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff9900, #ffdd6f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff9900, #ffdd6f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

img{ border-radius: 40px;
            }
#linkje{
        color: rgb(255, 255, 255);
        font-size: 20;
    }
.nav-link{
        color: #ffffff;
    }
    
.nav-link:active{
        color: #4088db;
    }

p{color: rgb(238, 238, 238)}

section {
        position: relative;
        animation: beweging 2s infinite;
        }
        #div1 {animation-timing-function: ease;}
        #div2 {animation-timing-function: linear;}
        #div3 {animation-timing-function: ease-out;}
        #div4 {animation-timing-function: ease-in;}
        #div5 {animation-timing-function: ease-in-out;}
        #div6 {animation-timing-function: linear;}
        @keyframes beweging {
        0% {left: 100%}
        100% {left: 0%}
        }

.navbar-brand {
            color: #4088db;
            font-weight: bold;
            position: relative;
            animation: beweging2 0.8s infinite;
            }
            @keyframes beweging2 {
            0% {left: 0px;}
            50% {left: 5px;}
            100% {left: 0px;}
            }
